* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* General navbar styling */
.navBarContainer {
    max-width: 1211px;
}

.navbar {
    background-color: #1B1C1F;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Navbar links */
.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-weight: 600;
}

.navbarLink{
    margin-left: 2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 4.9rem;
}

.nav-link:hover {
    color: #ff4135 !important;
}

.nav-link.active {
    color: #ff4135 !important;
}

/* Order button styling */
.order-btn {
    background-color: #ff4135;
    color: #fff;
    text-align: center;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;

}

.order-btn:hover {
    background-color: #fff;
    color: black;
}