* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.sectionOne {
    background-color: #1b1c1f;
    color: white;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.hpSectionOneLeft img {
    height: 40vw;
    position: relative;
}

.sectionOne .container {
    margin: 0px;
    max-width: 1320px;
    margin-left: auto;
}

.hpSectionOneLeftText p {
    font-size: 18px;
    font-family: 'Roboto ', sans-serif;
    font-style: italic;
    color: #ff4135;
}

.hpSectionOneLeftText h1 {
    font-size: 70px;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
}

.hpSectionOneLeftText h6 {
    font-size: 18px;
    padding-right: 7rem;
    color: #ffffff;
    font-family: 'Roboto ', sans-serif;
    padding-top: 1rem;
}

.sectionOne button {
    padding: 15px 50px;
    border-radius: 33px;
    font-size: 18px;
    background-color: #1b1c1f;
    border: 2px solid #fff;
    font-weight: 500;
}

.sectionOne button:hover {
    padding: 15px 50px;
    border-radius: 33px;
    background-color: #ff4135;
    border: 2px solid #ff4135;
}

.introImages {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.introImages img {
    border-radius: 40px;
    max-width: 260px;
}

.introImages .image1 {
    align-self: flex-start;
}

.introImages .image2 {
    align-self: flex-end;
    position: absolute;
    top: -15%;
    right: 0%;
}

.hpSectionOneRight{
    position: relative;
}

